* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font-size: 1.1em;
  line-height: 1.5;
  color: rgb(17, 17, 17);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0.5em 0 2em 0;
  background-color: #000000;
  background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/iss059e006521.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  font-size: 40px;
  line-height: 0;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 1.5em;
  color:rgba(251, 255, 0, 0.658);
}

main {
  width: 95%;
  margin: 0 auto;
}

img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
}

section {
  background-color: rgba(231, 233, 255, 0.452);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

section:last-of-type {
  border-bottom: none;
}

section a:hover {
  color: #09427b;
  text-decoration: underline;
}

section span {
  font-size: 0.85em;
  line-height: 1;
  float: right;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #074473;
}

h2 {
  font-size: 1.8em;
  line-height: 1;
  margin: 0 0 0.25em 0;
}

h2 + p {
  color: #828282;
  margin: 0 0 1.5em 0;
}

h3 {
  text-align: center;
}

button {
  font-size: 1.15em;
  font-weight: bold;
  display: block;
  padding: 0.5em;
  color: #074473;
  background-color: rgba(91, 162, 255, 0.514);
  border: none;
  border-radius: 100px;
  margin: auto;
  outline: 0;
  box-shadow: 0 0px 30px rgba(240, 255, 25, 0.39)
}
button:hover {
  cursor: pointer;
}

/* MEDIA QUERIES */

@media (min-width: 568px) {
  main {
    width: 65%;
  }
  section {
    box-shadow: 0 2px 1px rgba(0,0,0,0.15)
  }
}


@media (min-width: 768px) {
  main {
    width: 70%;
    max-width: 900px;
  }
  img {
    width: auto;
    float: left;
    margin-right: 20px;
  }  
  section {
    padding: 20px;
    margin-bottom: 35px;
    overflow: auto;
  }
}

#mapid { height: 180px;}